/* ------------------------Style------------------------------ */
/* body {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  background-image: url(../Img/image-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Raleway", sans-serif;
} */

.container {
  display: flex;
  flex-direction: column;

}
.mapimg {
  width: 100%;
  height: 100%;
}
.first-head {
  background-color: #fdde03;
  font-weight: bold;
  font-size: 37px;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  max-width: 800px;
  align-items: center;
  max-height: 50px;
}

.mapcont {
  display: flex;
}

.territories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 228px;
  height: 300px;
  margin-left: 50px;
  margin-top: 10px;
  padding-left: 30px;
  border-left: #fdde03 solid 4px;
}

.territories > a {
  color: white;
  text-decoration: none;
  font-size: 27px;
}

/*========== MUSQUEAM PAGE============ */

.terri {
  font-weight: bold;
}

a.highlight {
  color: #fdde03;
}

.infocont {
  max-width: 950px;
  margin-top: 50px;
}

.pronoun {
  font-size: 24px;
  color: #fdde03;
}

.title {
  color: white;
  font-size: 50px;
}

.lists {
  color: white;
  display: flex;
  font-size: 20px;
  margin-top: 10px;
}

.cities {
  margin-right: 60px;
  margin-bottom: 10px;
}
.para > p {
  color: white;
  font-size: 20px;
  margin-bottom: 100px;
}

/* =======RESPONSIVE LAYOUT======= */
@media only screen and (max-width:428px){
  body{
    margin: 0;
    /* justify-content: center; */
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
  }
  .first-head{
    font-size: 20px;
  }
  .infocont{
    margin-left:10%;
  }
  .infocont2{
    margin-top: 50px;
    margin-left: 0;
  }
  .mapcont {
    flex-direction: column;
  }
  .territories {
    margin-top: 10%;
    margin-left: 0;
    margin-bottom: 50px;
  }
  .territories > a {
    font-size: 16px;
  }
  .para{
    margin-right: 10%;
  }

}
@media only screen and (min-width:429px) and (max-width: 1024px) {
  body{
    margin: 0;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
  }
  .first-head > p{
    font-size: 27px;
    padding: 15px;
  }
  .infocont{
    margin-left:10%;
  }
  .infocont2{
    margin-top: 50px;
    margin-left: 0;
  }
  .mapcont {
    flex-direction: column;
  }
  .territories {
    margin-top: 10%;
    margin-left: 0;
    margin-bottom: 50px;
  }
  .territories > a {
    font-size: 26px;
  }
  .para{
    margin-right: 10%;
  }
}
@media only screen and (min-width:1025px){
  body{
    margin: 0;
  }
  .container {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
  }
  .first-head{
    justify-content: left;
    font-size: 38px;
  }
  .infocont{
    margin-left:10%;
  }
  .infocont2{
    margin-top: 50px;
    margin-left: 0;
  }

  .territories {
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 50px;
  }
  .territories > a {
    font-size: 26px;
  }
}

/* ------------------------Style end------------------------------ */
