/* ------------------------Menu------------------------------ */
body {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  background-image: url(../Img/image-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.menu-container {
  display: flex;
  padding: 5px;
  flex-direction: column;
  width: 100%;
}

.menu-holder {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
@media only screen and (max-width:992px){
  .menu-category {
    flex: 1;
  }

  #navigation {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    padding-right: 80px; */
    display: none;
  }
  #menuIcon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    width: 40px;
  }
  #panelCont {
    display: none;
    width: 100%;
  }

  #panel {
    display: none;
    background-color: #353535;
    width: 300px;
    height: 100vh;
    padding: 30px;
    position: absolute;
    top: 0;
    right: 0;
  }
  #close {
    position: absolute;
    right: 30;
  }

  #logo {
    width: 70px;
    height: 70px;
  }
  #logo-text {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #fdde03;
    font-size: 20px;
  }
}

@media only screen and (min-width:993px){
  .menu-category {
    flex: 1;
  }

  #navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    padding-right: 80px;
  }
  #logo {
    width: 100px;
    height: 100px;
  }
  #logo-text {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #fdde03;
    font-size: 30px;
  }
  #menuIcon, #panelCont {
    display: none;
  }
}


a {
  font-family: "Raleway", sans-serif;
}


#menu-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}


.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #fdde03;
}

.nav-link:active {
  text-decoration: underline;
}

/* --------------------------Menu End------------------------------ */

/* ------------------------------Quiz 1 Start----------------------------------- */
#quiz-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

/* ARROW */
.arrow-holder {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 3%;
}

.arrow {
  max-width: 80%; 
  height: auto;
}

.arrow > img{
  max-width: 60px; height: auto;
}

.arrow:hover .arrow-img{
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(rgba(255, 255, 255, 0.24) 0px 3px 8px);  
}

/* QUIZ */
.quiz-inner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.quiz-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.quiz-heading-text {
  color: white;
  font-weight: 700;
  font-size: 40px;
}

.quiz-question-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fdde03;
  margin-bottom: 2.5em;
}

.quiz-question-text {
  font-weight: 700;
  font-size: 60px;
  padding: 0 0.25em;
  margin: 0;
}

/* BUTTON */

.answer-bttn {
  width: 15%;
  max-width: 15%;
  height: 60px;
  background-color: transparent;
  border-width: 2px;
  border-color: white;
  border-radius: 8px;
  color: white;
}

#answer-1 {
  display: flex;
  justify-content: center;
}

.answer-holder {
  width: 50%;
  margin-bottom: 5%;
}

.answer-text-1-class {
  color: white;
  line-height: 1.75em;
}

.button-quiz {
  width: 10px;
  height: 17px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #666666;
} 

button.select {
  background-color: #999;
}

.hide {
  display: none;
}

/* -------------------------------Quiz 1 End---------------------------------- */
/* ------------------------------Quiz 2 Start----------------------------------- */
/* .quiz-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
} */

.quiz-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.quiz-heading-text {
  color: white;
  font-weight: 700;
  font-size: 40px;
}

.quiz-question-text {
  font-weight: 700;
  font-size: 60px;
}

/* .qui-question-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.quiz-answer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

/* #answer-1-2 {
  display: flex;
  justify-content: center;
} */
/* .answer-holder {
  width: 32.2%;
  margin-bottom: 5%;
} */

/* .answer-text-1-class {
  color: white;
} */


/* -------------------------------Quiz 2 End---------------------------------- */
/* ------------------------------Quiz 3 Start----------------------------------- */
/* .quiz-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
} */

.quiz-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.quiz-heading-text {
  color: white;
  font-weight: 700;
  font-size: 40px;
}

.quiz-question-text {
  font-weight: 700;
  font-size: 40px;
}

/* .qui-question-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/* .answer-holder {
  width: 32.2%;
  margin-bottom: 5%;
} */
/* 
.answer-text-1-class {
  color: white;
} */

/* -------------------------------Quiz 3 End---------------------------------- */
/* ------------------------------Quiz 4 Start----------------------------------- */
/* .quiz-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
} */

.quiz-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.quiz-heading-text {
  color: white;
  font-weight: 700;
  font-size: 40px;
}

.quiz-question-text {
  font-weight: 700;
  font-size: 40px;
}

/* .answer-holder {
  width: 32.2%;
  margin-bottom: 5%;
} */


/* .answer-text-1-class {
  color: white;
} */

.quiz-button {
  padding: 5%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* -------------------------------Quiz 4 End---------------------------------- */
/* ------------------------------Quiz 5 Start----------------------------------- */
.quiz-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.quiz-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.quiz-heading-text {
  color: white;
  font-weight: 700;
  font-size: 40px;
}

.quiz-question-text {
  font-weight: 700;
  font-size: 40px;
}

/* .qui-question-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/* #true1-5 {
  width: 15%;
  max-width: 15%;
  height: 60px;
  background-color: transparent;
  border-width: 2px;
  border-color: white;
  border-radius: 8px;
  color: white;
}

#false1-5 {
  width: 15%;
  max-width: 15%;
  height: 60px;
  background-color: transparent;
  border-width: 2px;
  border-color: white;
  border-radius: 8px;
  color: white;
} */
/* 
#answer-1-5 {
  display: flex;
  justify-content: center;
} */
/* .answer-holder {
  width: 32.2%;
  margin-bottom: 5%;
} */


/* .answer-text-1-class {
  color: white;
} */

/* -------------------------------Quiz 5 End---------------------------------- */

/* ================= RESPONSIVE LAYOUT ================= */
@media only screen and (max-width:428px){
  body{
    justify-content: center;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
  }

  /* ================= QUIZ PART ================= */
  .first-head{
    font-size: 20px;
  }

  .answer-txt {
    font-size: 12px;
  }

  .answer-holder {
    width: 90%;
    margin-bottom: 5%;
  }

  .quiz-answer {
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
  }

  .answer-bttn {
    width: 40%;
    max-width: 40%;
    height: 35px;
    margin-bottom: 10px;
  }
  
  .button-quiz {
    width: 5px;
    height: 15px;
  }

  /* ============ ARROW ============ */
   .arrow > img{
    max-width: 40px; height: auto;
  }
}
/* 
@media only screen and (min-width:429px) and (max-width: 615px) {
  body{
    justify-content: center;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
  }
  /* ================= QUIZ PART ================= 
  .first-head{
    font-size: 24px;
  }

  .answer-txt {
    font-size: 12px;
  }

  .answer-holder {
    width: 90%;
    margin-bottom: 5%;
  }

  .quiz-answer {
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
  }

  .answer-bttn {
    width: 40%;
    max-width: 40%;
    height: 35px;
    margin-bottom: 10px;
  }
  
  .button-quiz {
    width: 5px;
    height: 15px;
  }

  /* ============ ARROW ============ 
   .arrow > img{
    max-width: 40px; height: auto;
  }
} */

@media only screen and (min-width:429px) and (max-width: 992px) {
  .first-head{
    font-size: 32px;
    max-width: 90%;
  }
  
  .answer-txt {
    font-size: 16px;
  }

  .answer-holder {
    width: 60%;
  }

  .quiz-answer {
    gap: 20px;
    flex-wrap: wrap;
    width: 80%;
  }

  .answer-bttn {
    height: 60px;
  }
  
  .button-quiz {
    width: 5px;
    height: 15px;
  }

  /* ============ ARROW ============ */
   .arrow > img{
    max-width: 40px; height: auto;
  }

}

@media only screen and (min-width:993px){
  .first-head{
    font-size: 40px;
    max-width: 90%;
  }

  .answer-holder {
    width: 50%;
  }

  .answer-bttn {
    width: 30%;
    max-width: 30%;
    height: 60px;
    font-size: 16px;
  }
  
}
