/* ------------------------Menu------------------------------ */
body {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  background-image: url(../Img/image-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.menu-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  width: 100%;
  position: fixed;
  margin-bottom: 50px;
}

.menu-holder {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.menu-category {
  flex: 1;
}

#logo-text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #fdde03;
}

a {
  font-family: "Raleway", sans-serif;
}

#logo {
  width: 100px;
  height: 100px;
}

#menu-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

#navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  padding-right: 80px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #fdde03;
}

.nav-link:active {
  text-decoration: underline;
}

#logo-text {
  font-size: 30px;
}

/* --------------------------Menu End------------------------------ */
